@{
    ViewData["Title"] = "Home Page";
}
<!-- Bring in the model that we are going to use -->
<!-- model IQueryable<Book> -->
@model BookListViewModel
<!-- Give an appropriate title -->
<header class="text-center" style="color:royalblue">
    <h2>Welcome to Will's Online Bookstore!</h2>
</header><br />

@foreach (var x in Model.Books)
{
    <partial name="BookSummary" model="x" />
}


<!-- ******** NEW BOOTSTRAP FOR ASSIGNMENT 6 *********-->
<!--To practice our bootstrap, let's add a blockquote and use some different classes (blockquote class)-->
<br />
<div class="row">
    <div style="padding-left:65px" class="col-6">
        <blockquote class="blockquote text-center rounded-pill" style="background-color:royalblue; color:white">
            <span class="small font font-weight-bold">Reading is to the mind what exercise is to the body.</span>
            <footer class="blockquote-footer font-weight-bolder" style="color:white"><cite title="Source Title" style="color:white">Joseph Addison</cite></footer>
        </blockquote>
    </div>


    <!--This column will just take up space because we do not want the pill that the quote is contained in
        to span the entire length of the screen-->
    <div class="col-4"></div>

    <!--Here we will insert the pagination menu for when there are multiple pages-->
    <div class=" col-2">
        <div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true"
             page-class="btn" page-class-normal="btn-outline-dark" page-class-selected="btn-primary"
             page-url-category="@Model.CurrentCategory"
             class="btn-group" role="group">
        </div>
    </div>
</div>

